.navigation__container{

	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 77px;

	background-color: white;
	border-bottom: #e6e6e6 solid 1px;

	padding-left: 50px;
	padding-right: 50px;

}

.navigation__column{

	display: flex;


}

.search_content{

	width: 200px;
	height: 24px;
	background-color: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #dbdbdb;
	text-align: center;


}

i.fa-search{

	position: absolute;
	padding-left: 10px;
	margin-top: 8px;
	font-size: 10px;
	color: #babbbe;

}

.explor_link{
	width: 24px;
	height: 24px;
	margin-left: 10px;
	margin-right: 10px;
}


.overall_container{
	display: flex;
	justify-content: center;
}

.feed_container{

	max-width: 600px;
	margin-top: 60px;
	border: 1px solid #e6e6e6;
	border-radius: 3px;

}

.author_profile{
	background-color: white;
	display: flex;
	align-items: center;
	height: 60px;
	padding-left: 15px;
	max-width: 600px;

}



.author_avatar{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.author_name{
	margin-left: 10px;
	color: #262626;
	font-weight: 600;
}

.insta_image{
	border: none;
	max-width: 600px;
	height: 600px;
}


.contents_container{
	background-color: white;
	width: 600px;
	padding: 14px 14px;

}


.action_container i{
	font-size: 24px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.fa-commnet-o{
	padding-bottom: 6px;
}

.likes_count{
	margin-top: 2px;
}



.comment_author{
	font-weight: 600;
}

.contents_time{
	font-size: 10px;
	color: #999;
}

.photo__addcomment-container{
	margin-top: 15px;


}



.photo__addcomment-container input {
	padding-top: 16px;
	width: 90%;
	border: none;
	border-top: 1px solid #e6e6e6;
	padding-bottom: 10px;

}




.addcomment_text{

	color: #999;
	font-size: 14px;
}

.navigation__container{

}



